@use "./partials/variables" as *;
@use "./partials/mixins" as *;

@import "~bootstrap/scss/bootstrap";

h1 {
    color: $primary_color;
}

label {
    display: block;
}

footer {
    background-color: #f2f2f2;
    padding: 20px;
}

footer a {
    color: #333;
}

footer a:hover {
    text-decoration: underline;
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
